<footer class="text-center p-6 mt-12 text-sm text-neutral-300">
    <p class="flex flex-wrap gap-4 justify-center items-center">
      <a href="https://astro.build" target="_blank">
        <img
          src="./tiny.svg"
          alt="Built with Astro"
          width="120"
          height="20"
          loading="lazy"
          class="inline"
        />
      </a>
      <a href="https://github.com/delucis/astro-badge" class="hover:text-white underline underline-offset-4"> Código en GitHub</a>
    </p>
</footer>