<header class="fixed top-0 left-0 z-50 w-full border-b border-white p-4 bg-[#13131A] opacity-80">
    <div class="flex justify-between items-center mx-auto ml-12 mr-12">
      <div class="flex items-center">
        <img class="w-12 h-12 rounded-full mr-4" src="/foto_perfil.jpg" alt="Logo" />
      </div>
      <nav class="flex flex-row gap-x-10 items-center">
        <a href="/#inicio" class="hover:text-[#6633ee] transition-colors">Inicio</a>
        <a href="/#formacion" class="hover:text-[#6633ee] transition-colors">Formación</a>
        <a href="/#proyectos" class="hover:text-[#6633ee] transition-colors">Proyectos</a>
        <a href="/#contacto" class="hover:text-[#6633ee] transition-colors">Contacto</a>
        <a href="./Archivos/CV_Alberto_Aracil_Millan.pdf" download class="hover:text-[#000] transition-colors ml-10 bg-[#6633ee] px-4 py-2 rounded-full">
          <button>Descargar CV</button>
        </a>
      </nav>
    </div>
</header>